# JSON examples and exercise
****
+ get familiar with packages for dealing with JSON
+ study examples with JSON strings and files 
+ work on exercise to be completed and submitted 
****
+ reference: http://pandas.pydata.org/pandas-docs/stable/io.html#io-json-reader
+ data source: http://jsonstudio.com/resources/
****

In [85]:
import pandas as pd

## imports for Python, Pandas

In [86]:
import json
from pandas.io.json import json_normalize

## JSON example, with string

+ demonstrates creation of normalized dataframes (tables) from nested json string
+ source: http://pandas.pydata.org/pandas-docs/stable/io.html#normalization

In [87]:
# define json string
data = [{'state': 'Florida', 
         'shortname': 'FL',
         'info': {'governor': 'Rick Scott'},
         'counties': [{'name': 'Dade', 'population': 12345},
                      {'name': 'Broward', 'population': 40000},
                      {'name': 'Palm Beach', 'population': 60000}]},
        {'state': 'Ohio',
         'shortname': 'OH',
         'info': {'governor': 'John Kasich'},
         'counties': [{'name': 'Summit', 'population': 1234},
                      {'name': 'Cuyahoga', 'population': 1337}]}]

In [88]:
# use normalization to create tables from nested element
json_normalize(data, 'counties')

         name  population
0        Dade       12345
1     Broward       40000
2  Palm Beach       60000
3      Summit        1234
4    Cuyahoga        1337

In [89]:
# further populate tables created from nested element
json_normalize(data, 'counties', ['state', 'shortname', ['info', 'governor']])

         name  population    state shortname info.governor
0        Dade       12345  Florida        FL    Rick Scott
1     Broward       40000  Florida        FL    Rick Scott
2  Palm Beach       60000  Florida        FL    Rick Scott
3      Summit        1234     Ohio        OH   John Kasich
4    Cuyahoga        1337     Ohio        OH   John Kasich

****
## JSON example, with file

+ demonstrates reading in a json file as a string and as a table
+ uses small sample file containing data about projects funded by the World Bank 
+ data source: http://jsonstudio.com/resources/

In [90]:
# load json as string
json.load((open('data/world_bank_projects_less.json')))

[{'_id': {'$oid': '52b213b38594d8a2be17c780'},
  'approvalfy': 1999,
  'board_approval_month': 'November',
  'boardapprovaldate': '2013-11-12T00:00:00Z',
  'borrower': 'FEDERAL DEMOCRATIC REPUBLIC OF ETHIOPIA',
  'closingdate': '2018-07-07T00:00:00Z',
  'country_namecode': 'Federal Democratic Republic of Ethiopia!$!ET',
  'countrycode': 'ET',
  'countryname': 'Federal Democratic Republic of Ethiopia',
  'countryshortname': 'Ethiopia',
  'docty': 'Project Information Document,Indigenous Peoples Plan,Project Information Document',
  'envassesmentcategorycode': 'C',
  'grantamt': 0,
  'ibrdcommamt': 0,
  'id': 'P129828',
  'idacommamt': 130000000,
  'impagency': 'MINISTRY OF EDUCATION',
  'lendinginstr': 'Investment Project Financing',
  'lendinginstrtype': 'IN',
  'lendprojectcost': 550000000,
  'majorsector_percent': [{'Name': 'Education', 'Percent': 46},
   {'Name': 'Education', 'Percent': 26},
   {'Name': 'Public Administration, Law, and Justice', 'Percent': 16},
   {'Name': 'Education', 'Percent': 12}],
  'mjsector_namecode': [{'name': 'Education', 'code': 'EX'},
   {'name': 'Education', 'code': 'EX'},
   {'name': 'Public Administration, Law, and Justice', 'code': 'BX'},
   {'name': 'Education', 'code': 'EX'}],
  'mjtheme': ['Human development'],
  'mjtheme_namecode': [{'name': 'Human development', 'code': '8'},
   {'name': '', 'code': '11'}],
  'mjthemecode': '8,11',
  'prodline': 'PE',
  'prodlinetext': 'IBRD/IDA',
  'productlinetype': 'L',
  'project_abstract': {'cdata': 'The development objective of the Second Phase of General Education Quality Improvement Project for Ethiopia is to improve learning conditions in primary and secondary schools and strengthen institutions at different levels of educational administration. The project has six components. The first component is curriculum, textbooks, assessment, examinations, and inspection. This component will support improvement of learning conditions in grades KG-12 by providing increased access to teaching and learning materials and through improvements to the curriculum by assessing the strengths and weaknesses of the current curriculum. This component has following four sub-components: (i) curriculum reform and implementation; (ii) teaching and learning materials; (iii) assessment and examinations; and (iv) inspection. The second component is teacher development program (TDP). This component will support improvements in learning conditions in both primary and secondary schools by advancing the quality of teaching in general education through: (a) enhancing the training of pre-service teachers in teacher education institutions; and (b) improving the quality of in-service teacher training. This component has following three sub-components: (i) pre-service teacher training; (ii) in-service teacher training; and (iii) licensing and relicensing of teachers and school leaders. The third component is school improvement plan. This component will support the strengthening of school planning in order to improve learning outcomes, and to partly fund the school improvement plans through school grants. It has following two sub-components: (i) school improvement plan; and (ii) school grants. The fourth component is management and capacity building, including education management information systems (EMIS). This component will support management and capacity building aspect of the project. This component has following three sub-components: (i) capacity building for education planning and management; (ii) capacity building for school planning and management; and (iii) EMIS. The fifth component is improving the quality of learning and teaching in secondary schools and universities through the use of information and communications technology (ICT). It has following five sub-components: (i) national policy and institution for ICT in general education; (ii) national ICT infrastructure improvement plan for general education; (iii) develop an integrated monitoring, evaluation, and learning system specifically for the ICT component; (iv) teacher professional development in the use of ICT; and (v) provision of limited number of e-Braille display readers with the possibility to scale up to all secondary education schools based on the successful implementation and usage of the readers. The sixth component is program coordination, monitoring and evaluation, and communication. It will support institutional strengthening by developing capacities in all aspects of program coordination, monitoring and evaluation; a new sub-component on communications will support information sharing for better management and accountability. It has following three sub-components: (i) program coordination; (ii) monitoring and evaluation (M and E); and (iii) communication.'},
  'project_name': 'Ethiopia General Education Quality Improvement Project II',
  'projectdocs': [{'DocTypeDesc': 'Project Information Document (PID),  Vol.',
    'DocType': 'PID',
    'EntityID': '090224b081e545fb_1_0',
    'DocURL': 'http://www-wds.worldbank.org/servlet/WDSServlet?pcont=details&eid=090224b081e545fb_1_0',
    'DocDate': '28-AUG-2013'},
   {'DocTypeDesc': 'Indigenous Peoples Plan (IP),  Vol.1 of 1',
    'DocType': 'IP',
    'EntityID': '000442464_20130920111729',
    'DocURL': 'http://www-wds.worldbank.org/servlet/WDSServlet?pcont=details&eid=000442464_20130920111729',
    'DocDate': '01-JUL-2013'},
   {'DocTypeDesc': 'Project Information Document (PID),  Vol.',
    'DocType': 'PID',
    'EntityID': '090224b0817b19e2_1_0',
    'DocURL': 'http://www-wds.worldbank.org/servlet/WDSServlet?pcont=details&eid=090224b0817b19e2_1_0',
    'DocDate': '22-NOV-2012'}],
  'projectfinancialtype': 'IDA',
  'projectstatusdisplay': 'Active',
  'regionname': 'Africa',
  'sector': [{'Name': 'Primary education'},
   {'Name': 'Secondary education'},
   {'Name': 'Public administration- Other social services'},
   {'Name': 'Tertiary education'}],
  'sector1': {'Name': 'Primary education', 'Percent': 46},
  'sector2': {'Name': 'Secondary education', 'Percent': 26},
  'sector3': {'Name': 'Public administration- Other social services',
   'Percent': 16},
  'sector4': {'Name': 'Tertiary education', 'Percent': 12},
  'sector_namecode': [{'name': 'Primary education', 'code': 'EP'},
   {'name': 'Secondary education', 'code': 'ES'},
   {'name': 'Public administration- Other social services', 'code': 'BS'},
   {'name': 'Tertiary education', 'code': 'ET'}],
  'sectorcode': 'ET,BS,ES,EP',
  'source': 'IBRD',
  'status': 'Active',
  'supplementprojectflg': 'N',
  'theme1': {'Name': 'Education for all', 'Percent': 100},
  'theme_namecode': [{'name': 'Education for all', 'code': '65'}],
  'themecode': '65',
  'totalamt': 130000000,
  'totalcommamt': 130000000,
  'url': 'http://www.worldbank.org/projects/P129828/ethiopia-general-education-quality-improvement-project-ii?lang=en'},
 {'_id': {'$oid': '52b213b38594d8a2be17c781'},
  'approvalfy': 2015,
  'board_approval_month': 'November',
  'boardapprovaldate': '2013-11-04T00:00:00Z',
  'borrower': 'GOVERNMENT OF TUNISIA',
  'country_namecode': 'Republic of Tunisia!$!TN',
  'countrycode': 'TN',
  'countryname': 'Republic of Tunisia',
  'countryshortname': 'Tunisia',
  'docty': 'Project Information Document,Integrated Safeguards Data Sheet,Integrated Safeguards Data Sheet,Project Information Document,Integrated Safeguards Data Sheet,Project Information Document',
  'envassesmentcategorycode': 'C',
  'grantamt': 4700000,
  'ibrdcommamt': 0,
  'id': 'P144674',
  'idacommamt': 0,
  'impagency': 'MINISTRY OF FINANCE',
  'lendinginstr': 'Specific Investment Loan',
  'lendinginstrtype': 'IN',
  'lendprojectcost': 5700000,
  'majorsector_percent': [{'Name': 'Public Administration, Law, and Justice',
    'Percent': 70},
   {'Name': 'Public Administration, Law, and Justice', 'Percent': 30}],
  'mjsector_namecode': [{'name': 'Public Administration, Law, and Justice',
    'code': 'BX'},
   {'name': 'Public Administration, Law, and Justice', 'code': 'BX'}],
  'mjtheme': ['Economic management', 'Social protection and risk management'],
  'mjtheme_namecode': [{'name': 'Economic management', 'code': '1'},
   {'name': 'Social protection and risk management', 'code': '6'}],
  'mjthemecode': '1,6',
  'prodline': 'RE',
  'prodlinetext': 'Recipient Executed Activities',
  'productlinetype': 'L',
  'project_name': 'TN: DTF Social Protection Reforms Support',
  'projectdocs': [{'DocTypeDesc': 'Project Information Document (PID),  Vol.1 of 1',
    'DocType': 'PID',
    'EntityID': '000333037_20131024115616',
    'DocURL': 'http://www-wds.worldbank.org/servlet/WDSServlet?pcont=details&eid=000333037_20131024115616',
    'DocDate': '29-MAR-2013'},
   {'DocTypeDesc': 'Integrated Safeguards Data Sheet (ISDS),  Vol.1 of 1',
    'DocType': 'ISDS',
    'EntityID': '000356161_20131024151611',
    'DocURL': 'http://www-wds.worldbank.org/servlet/WDSServlet?pcont=details&eid=000356161_20131024151611',
    'DocDate': '29-MAR-2013'},
   {'DocTypeDesc': 'Integrated Safeguards Data Sheet (ISDS),  Vol.1 of 1',
    'DocType': 'ISDS',
    'EntityID': '000442464_20131031112136',
    'DocURL': 'http://www-wds.worldbank.org/servlet/WDSServlet?pcont=details&eid=000442464_20131031112136',
    'DocDate': '29-MAR-2013'},
   {'DocTypeDesc': 'Project Information Document (PID),  Vol.1 of 1',
    'DocType': 'PID',
    'EntityID': '000333037_20131031105716',
    'DocURL': 'http://www-wds.worldbank.org/servlet/WDSServlet?pcont=details&eid=000333037_20131031105716',
    'DocDate': '29-MAR-2013'},
   {'DocTypeDesc': 'Integrated Safeguards Data Sheet (ISDS),  Vol.1 of 1',
    'DocType': 'ISDS',
    'EntityID': '000356161_20130305113209',
    'DocURL': 'http://www-wds.worldbank.org/servlet/WDSServlet?pcont=details&eid=000356161_20130305113209',
    'DocDate': '16-JAN-2013'},
   {'DocTypeDesc': 'Project Information Document (PID),  Vol.1 of 1',
    'DocType': 'PID',
    'EntityID': '000356161_20130305113716',
    'DocURL': 'http://www-wds.worldbank.org/servlet/WDSServlet?pcont=details&eid=000356161_20130305113716',
    'DocDate': '16-JAN-2013'}],
  'projectfinancialtype': 'OTHER',
  'projectstatusdisplay': 'Active',
  'regionname': 'Middle East and North Africa',
  'sector': [{'Name': 'Public administration- Other social services'},
   {'Name': 'General public administration sector'}],
  'sector1': {'Name': 'Public administration- Other social services',
   'Percent': 70},
  'sector2': {'Name': 'General public administration sector', 'Percent': 30},
  'sector_namecode': [{'name': 'Public administration- Other social services',
    'code': 'BS'},
   {'name': 'General public administration sector', 'code': 'BZ'}],
  'sectorcode': 'BZ,BS',
  'source': 'IBRD',
  'status': 'Active',
  'supplementprojectflg': 'N',
  'theme1': {'Name': 'Other economic management', 'Percent': 30},
  'theme_namecode': [{'name': 'Other economic management', 'code': '24'},
   {'name': 'Social safety nets', 'code': '54'}],
  'themecode': '54,24',
  'totalamt': 0,
  'totalcommamt': 4700000,
  'url': 'http://www.worldbank.org/projects/P144674?lang=en'}]

In [91]:
# load as Pandas dataframe
sample_json_df = pd.read_json('data/world_bank_projects_less.json')
sample_json_df

,_id,approvalfy,board_approval_month,boardapprovaldate,borrower,closingdate,country_namecode,countrycode,countryname,countryshortname,...,sectorcode,source,status,supplementprojectflg,theme1,theme_namecode,themecode,totalamt,totalcommamt,url
0,{'$oid': '52b213b38594d8a2be17c780'},1999,November,2013-11-12T00:00:00Z,FEDERAL DEMOCRATIC REPUBLIC OF ETHIOPIA,2018-07-07T00:00:00Z,Federal Democratic Republic of Ethiopia!$!ET,ET,Federal Democratic Republic of Ethiopia,Ethiopia,...,"ET,BS,ES,EP",IBRD,Active,N,"{'Name': 'Education for all', 'Percent': 100}","[{'name': 'Education for all', 'code': '65'}]",65,130000000,130000000,http://www.worldbank.org/projects/P129828/ethi...
1,{'$oid': '52b213b38594d8a2be17c781'},2015,November,2013-11-04T00:00:00Z,GOVERNMENT OF TUNISIA,NaN,Republic of Tunisia!$!TN,TN,Republic of Tunisia,Tunisia,...,"BZ,BS",IBRD,Active,N,"{'Name': 'Other economic management', 'Percent...","[{'name': 'Other economic management', 'code':...","54,24",0,4700000,http://www.worldbank.org/projects/P144674?lang=en

****
## JSON exercise

Using data in file 'data/world_bank_projects.json' and the techniques demonstrated above,
1. Find the 10 countries with most projects
2. Find the top 10 major project themes (using column 'mjtheme_namecode')
3. In 2. above you will notice that some entries have only the code and the name is missing. Create a dataframe with the missing names filled in.

# 1. Find the 10 Countries with most projects

In [92]:
# Load the world bank data as a Pandas dataframe and do basic inspection. Note the ID column
df = pd.read_json('data/world_bank_projects.json')
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 500 entries, 0 to 499
Data columns (total 50 columns):
_id                         500 non-null object
approvalfy                  500 non-null int64
board_approval_month        500 non-null object
boardapprovaldate           500 non-null object
borrower                    485 non-null object
closingdate                 370 non-null object
country_namecode            500 non-null object
countrycode                 500 non-null object
countryname                 500 non-null object
countryshortname            500 non-null object
docty                       446 non-null object
envassesmentcategorycode    430 non-null object
grantamt                    500 non-null int64
ibrdcommamt                 500 non-null int64
id                          500 non-null object
idacommamt                  500 non-null int64
impagency                   472 non-null object
lendinginstr                495 non-null object
lendinginstrtype            495 non-null object
lendprojectcost             500 non-null int64
majorsector_percent         500 non-null object
mjsector_namecode           500 non-null object
mjtheme                     491 non-null object
mjtheme_namecode            500 non-null object
mjthemecode                 500 non-null object
prodline                    500 non-null object
prodlinetext                500 non-null object
productlinetype             500 non-null object
project_abstract            362 non-null object
project_name                500 non-null object
projectdocs                 446 non-null object
projectfinancialtype        500 non-null object
projectstatusdisplay        500 non-null object
regionname                  500 non-null object
sector                      500 non-null object
sector1                     500 non-null object
sector2                     380 non-null object
sector3                     265 non-null object
sector4                     174 non-null object
sector_namecode             500 non-null object
sectorcode                  500 non-null object
source                      500 non-null object
status                      500 non-null object
supplementprojectflg        498 non-null object
theme1                      500 non-null object
theme_namecode              491 non-null object
themecode                   491 non-null object
totalamt                    500 non-null int64
totalcommamt                500 non-null int64
url                         500 non-null object
dtypes: int64(7), object(43)
memory usage: 195.4+ KB

In [93]:
# Count the number of country projects by unique ID, sort in descending order and slice
country_project_counts = df.groupby('countryshortname').id.count()
top_10 = country_project_counts.sort_values(ascending=False)[:10]

# Display a nice looking Top 10 list.  Not totally necessary but if you're
# going to display a Top 10 list...
top_df = top_10.to_frame().reset_index()
top_df.index = range(1, 11)
top_df.columns = ['Country', 'Project Count']
top_df

               Country  Project Count
1            Indonesia             19
2                China             19
3              Vietnam             17
4                India             16
5   Yemen, Republic of             13
6                Nepal             12
7           Bangladesh             12
8              Morocco             12
9           Mozambique             11
10              Africa             11

# 2. Find the top 10 major project themes (using column 'mjtheme_namecode')

In [94]:
# Read the world bank data
with open('data/world_bank_projects.json', 'r') as fjson:
    theme_json = json.load(fjson)

# Use json_normalize to normalize by mjtheme_namecode. Note that each project can
# have multiple theme codes.  This is why there are 3x as many rows as the original data set.
themes = json_normalize(theme_json, 'mjtheme_namecode', ['id'])
themes.head(20)

   code                                          name       id
0     8                             Human development  P129828
1    11                                                P129828
2     1                           Economic management  P144674
3     6         Social protection and risk management  P144674
4     5                         Trade and integration  P145310
5     2                      Public sector governance  P145310
6    11  Environment and natural resources management  P145310
7     6         Social protection and risk management  P145310
8     7                   Social dev/gender/inclusion  P144665
9     7                   Social dev/gender/inclusion  P144665
10    5                         Trade and integration  P144933
11    4      Financial and private sector development  P144933
12    6         Social protection and risk management  P146161
13    6                                                P146161
14    2                      Public sector governance  P121185
15    4      Financial and private sector development  P121185
16   11  Environment and natural resources management  P127033
17    8                                                P127033
18   10                             Rural development  P130164
19    7                                                P130164

In [95]:
# Group by theme code and count then sort and slice the top 10
code_counts = themes.groupby('code').code.count()
top_10_codes = code_counts.sort_values(ascending=False)[:10]
top_10_codes

code
11    250
10    216
8     210
2     199
6     168
4     146
7     130
5      77
9      50
1      38
Name: code, dtype: int64

In [96]:
import numpy as np

# Not necessary but display a nice looking Top 10 list with theme names
codes = themes.drop('id', axis='columns')
codes = codes.drop_duplicates()
codes = codes.replace('', np.nan).dropna()
codes = codes.set_index('code')
codes['count'] = code_counts
top_10 = codes.sort_values('count', ascending=False)[:10]
top_10 = top_10.reset_index()
top_10.index = range(1,11)
top_10.columns = ['Theme Code', 'Project Theme', 'Count']
top_10

   Theme Code                                 Project Theme  Count
1          11  Environment and natural resources management    250
2          10                             Rural development    216
3           8                             Human development    210
4           2                      Public sector governance    199
5           6         Social protection and risk management    168
6           4      Financial and private sector development    146
7           7                   Social dev/gender/inclusion    130
8           5                         Trade and integration     77
9           9                             Urban development     50
10          1                           Economic management     38

# 3. In 2. above you will notice that some entries have only the code and the name is missing. Create a dataframe with the missing names filled in.

In [97]:
# Note that in displaying the nice top 10 list above, I created a clean table of names and codes that's
# indexed by the code.  There are other ways to solve the problem but I'll just use this to map codes 
# to names.  Retain the original 'name' column and verify that missing names are filled in. 
named_themes = themes.copy()
named_themes['filled_name'] = named_themes.code.map(codes.name)
named_themes.head(20)

,code,name,id,filled_name
0,8,Human development,P129828,Human development
1,11,,P129828,Environment and natural resources management
2,1,Economic management,P144674,Economic management
3,6,Social protection and risk management,P144674,Social protection and risk management
4,5,Trade and integration,P145310,Trade and integration
5,2,Public sector governance,P145310,Public sector governance
6,11,Environment and natural resources management,P145310,Environment and natural resources management
7,6,Social protection and risk management,P145310,Social protection and risk management
8,7,Social dev/gender/inclusion,P144665,Social dev/gender/inclusion
9,7,Social dev/gender/inclusion,P144665,Social dev/gender/inclusion
10,5,Trade and integration,P144933,Trade and integration
11,4,Financial and private sector development,P144933,Financial and private sector development
12,6,Social protection and risk management,P146161,Social protection and risk management
13,6,,P146161,Social protection and risk management
14,2,Public sector governance,P121185,Public sector governance
15,4,Financial and private sector development,P121185,Financial and private sector development
16,11,Environment and natural resources management,P127033,Environment and natural resources management
17,8,,P127033,Human development
18,10,Rural development,P130164,Rural development
19,7,,P130164,Social dev/gender/inclusion

In [98]:
# Here's another way to fill the missing names with sorting and filling NaNs. First note how many names are blank
themes = themes.replace('' , np.nan)
themes.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1499 entries, 0 to 1498
Data columns (total 3 columns):
code    1499 non-null object
name    1377 non-null object
id      1499 non-null object
dtypes: object(3)
memory usage: 35.2+ KB

In [99]:
# This will work if the dataframe is sorted by code and name in desc order.  This way the non-blank names come
# first and can be filled forward.
themes = themes.sort_values(['code', 'name'], ascending=False)
themes = themes.fillna(method='ffill')
themes

     code                 name       id
53      9    Urban development  P145359
183     9    Urban development  P121917
194     9    Urban development  P128768
200     9    Urban development  P125120
318     9    Urban development  P122950
320     9    Urban development  P122950
341     9    Urban development  P144357
354     9    Urban development  P127543
356     9    Urban development  P127543
369     9    Urban development  P126749
414     9    Urban development  P119063
447     9    Urban development  P126899
512     9    Urban development  P127163
513     9    Urban development  P127163
535     9    Urban development  P120370
570     9    Urban development  P119039
585     9    Urban development  P123729
597     9    Urban development  P129713
598     9    Urban development  P129713
650     9    Urban development  P123384
669     9    Urban development  P127303
732     9    Urban development  P127036
737     9    Urban development  P117876
738     9    Urban development  P117876
739     9    Urban development  P127079
742     9    Urban development  P127079
822     9    Urban development  P125022
917     9    Urban development  P143770
930     9    Urban development  P126489
940     9    Urban development  P127955
...   ...                  ...      ...
249     1  Economic management  P132948
357     1  Economic management  P130459
453     1  Economic management  P128573
454     1  Economic management  P130925
458     1  Economic management  P130925
497     1  Economic management  P133663
647     1  Economic management  P129825
648     1  Economic management  P129825
784     1  Economic management  P110836
803     1  Economic management  P127332
841     1  Economic management  P122793
900     1  Economic management  P143819
1010    1  Economic management  P133706
1045    1  Economic management  P133791
1056    1  Economic management  P144633
1057    1  Economic management  P144633
1078    1  Economic management  P131234
1206    1  Economic management  P133255
1212    1  Economic management  P121019
1218    1  Economic management  P130824
1229    1  Economic management  P129465
1230    1  Economic management  P129465
1235    1  Economic management  P131440
1257    1  Economic management  P133230
1260    1  Economic management  P133339
212     1  Economic management  P128282
363     1  Economic management  P144030
1024    1  Economic management  P124114
1114    1  Economic management  P131094
1437    1  Economic management  P130412

[1499 rows x 3 columns]

In [100]:
# Verify there are no blank names
themes.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1499 entries, 53 to 1437
Data columns (total 3 columns):
code    1499 non-null object
name    1499 non-null object
id      1499 non-null object
dtypes: object(3)
memory usage: 46.8+ KB